:root {
  --clr-cyan: #55AAAA;
  --clr-gray: #C3C7CB;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Levi Windows';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/Windows-Regular.ttf);
}

body {
  font-family: 'Levi Windows', sans-serif;
}

.wallpaper {
  position: relative;
  background-color: var(--clr-cyan);
}

.taskbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-gray);
}

.start-btn {
  border: 1px solid white;
  border-right-color: black;
  border-bottom-color: black;
}

.start-btn .windows-logo {
  height: 16px;
  object-fit: cover;
}

.right-click-window {
  position: absolute;
  background-color: #C3C7CB;
  border: 2px solid black;
  border-left-color: white;
  border-top-color: white;
  font-size: 0.875rem;
}

.right-click-window ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.right-click-window ul+ul {
  border-top: 1px solid white;
}

.right-click-window li {
  padding: 0.25rem 1rem;
}

.right-click-window li:hover {
  cursor: pointer;
  background-color: #0000AA;
  color: white;
}