:root {
  --clr-cyan: #55AAAA;
  --clr-gray: #C3C7CB;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Levi Windows';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/Windows-Regular.ttf);
}

body {
  font-family: 'Levi Windows', sans-serif;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  height: 100vh;
}

.wallpaper {
  position: relative;
  background-color: var(--clr-cyan);
  display: grid;
  flex-grow: 1;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fit, 5rem);
  justify-content: flex-start;
}

.taskbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-gray);
}

.start-btn {
  border: 1px solid white;
  border-right-color: black;
  border-bottom-color: black;
}

.start-btn .windows-logo {
  height: 16px;
  object-fit: cover;
}

.right-click-window {
  position: absolute;
  background-color: #C3C7CB;
  border: 2px solid black;
  border-left-color: white;
  border-top-color: white;
  font-size: 0.875rem;
}

.right-click-window > ul {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  list-style-type: none;
}

.right-click-window > ul+ul {
  border-top: 1px solid white;
}

.right-click-window > ul > li {
  position: relative;
  padding: 0.25rem 2rem 0.25rem 1rem;
}

.right-click-window > ul > li span.underline {
  position: relative;
  pointer-events: none;
}

.right-click-window > ul > li span.underline::before {
  content: '';
  position: absolute;
  bottom: calc(0.25rem - 2px);
  width: calc(100% + 2px);
  left: -1px;
  height: 1px;
  background-color: black;
}

.right-click-window > ul > li.arrow::before {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  right: 0.75rem;
  top: 50%;
  background-image: conic-gradient(from 0.25turn at 0% 0%, black 45deg, transparent 45deg);
  transform: translateY(-50%) rotateZ(45deg);
}

.right-click-window > ul > li.active,
.right-click-window > ul > li:hover {
  cursor: pointer;
  background-color: #0000AA;
  color: white;
}

.right-click-window > ul > li:hover::before,
.right-click-window > ul > li.active::before {
  background-image: conic-gradient(from 0.25turn at 0% 0%, white 45deg, transparent 45deg);
}

.right-click-window > ul > li:hover span.underline::before,
.right-click-window > ul > li.active span.underline::before {
  background-color: white;
}

.subcontextmenu {
  width: max-content;
  position: absolute;
  z-index: 1;
}

.subcontextmenu > ul > li {
  color: black;
}

.subcontextmenu.right-click-window > ul > li > span.underline::before {
  background-color: black;
}

.subcontextmenu > ul > li:hover {
  color: white;
}

.subcontextmenu.right-click-window > ul > li:hover > span.underline::before {
  background-color: white;
}

.desktop-icon__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
}

.desktop-icon__container.active,
.desktop-icon__container.focus {
  border: 2px dotted #0000AA;
}

.desktop-icon__container.active .desktop-icon__name,
.desktop-icon__container.focus .desktop-icon__name{
  border: 2px dotted #0000AA;
}

.desktop-icon__img {
  width: 4rem;
  height: 4rem;
}

.desktop-icon__name {
  text-align: center;
  padding: 0.0625rem 0.125rem;
  width: 4rem;
  margin: -0.625rem auto 0.125rem;
  font-size: 0.875rem;
}